
.top-navigation{
	background-color: transparent;

}

.top-navigation > .content{
	width: 970px;
	height: 60px;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 25px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li{
	display: inline-block;
	margin-left: 25px;
	text-decoration: none;

}

.top-navigation .links li:hover{
	cursor: pointer;
	color: #333333;
}

.introduction{
	background-image: url('../image/splashImage.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 50rem;
}

.introduction .intro-content h1{
	font-size: 3.125rem;
	padding-top: 15rem;
}

.introduction .intro-content h3{
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 1.563rem;
}

.introduction > .intro-content{
	color: #fff;
	width: 864px;
	height: 173px;
	text-align: center;
	font-weight: 300;
	margin: 0 auto;

}

.introduction .intro-content .intro-links li{
	text-decoration: none;
	display: inline-block;
}